{:skip-comments true

 :linters
 {:unsorted-required-namespaces
	{:level :warning}

	:refer-all
	{:exclude #{clojure.test}}

	:single-key-in
	{:level :warning}

	:used-underscored-binding
	{:level :warning}

	:redundant-fn-wrapper
	{:level :warning}

	:missing-docstring
	{:level :info}}}
